@charset "UTF-8";
@keyframes slide-text-above {
  from {
    top: 40px;
  }
  to {
    top: 0;
  }
}
@keyframes slide-text-under {
  from {
    bottom: 40px;
  }
  to {
    bottom: 0;
  }
}
@keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  background-color: #fff;
  background-size: cover;
  overflow-x: hidden;
}

.hide {
  display: none;
}

.active {
  transform: translateX(-350px);
}

.active-btn {
  transform: translateX(-250px);
}

.round-section-right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.round-section-left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: #d2c8bc;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
nav .nav-container .nav-brand {
  margin-left: 40px;
  font-size: 26px;
  font-weight: bold;
  color: black;
  cursor: default;
}
nav .nav-container .nav-brand .fa-solid {
  margin-right: 10px;
}
nav .nav-container .nav-items {
  margin-right: 40px;
}
nav .nav-container .nav-items .nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
nav .nav-container .nav-items .nav-link:hover {
  color: #ba9a88;
}
nav .nav-container .burger {
  margin-right: 30px;
  font-size: 36px;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
nav .nav-container .burger-items {
  position: absolute;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  padding: 10px 20px;
  font-size: 36px;
  list-style: none;
  background-color: #fff;
  transition: 0.3s;
  z-index: 1;
}
nav .nav-container .burger-items li {
  margin: 50px 20px;
}
nav .nav-container .burger-items li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
nav .nav-container .burger-items li a:hover {
  color: #ba9a88;
}

header {
  width: 90vw;
  height: 82.2vh;
  margin-top: 64px;
  border-radius: 16px;
  overflow: hidden;
}
header .header-img {
  position: relative;
  height: 100%;
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  z-index: 0;
}
header .header-img .header-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
header .header-img .header-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
  transition: color 0.5s;
}
header .header-img .header-text h1 {
  font-size: 124px;
}
header .header-img .header-text .text-above {
  position: absolute;
  top: 220px;
  width: 400px;
  height: 45px;
  overflow: hidden;
}
header .header-img .header-text .text-above::before {
  display: block;
  position: absolute;
  content: "Witamy w";
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
  animation: slide-text-above 1s 2s forwards;
  letter-spacing: 3px;
}
header .header-img .header-text .text-under {
  position: absolute;
  bottom: 220px;
  width: 900px;
  height: 45px;
  overflow: hidden;
}
header .header-img .header-text .text-under::before {
  position: absolute;
  content: "Apartament w Jastrzębiej Górze";
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  animation: slide-text-under 1s 2s forwards;
  letter-spacing: 3px;
}

.card {
  position: relative;
  height: 300px;
  perspective: 200px;
}
.card .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.8s;
}
.card .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px;
  text-align: center;
  background-color: #d2c8bc;
  color: black;
  transition: 0.8s;
  opacity: 0;
}

.card:hover .text {
  opacity: 1;
}

main {
  width: 100vw;
}
main .first-section {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  width: 100%;
  height: 300px;
}
main .first-section .first {
  width: 57.5%;
}
main .first-section .second {
  width: 37.5%;
}
main .first-section .one {
  background-image: url("../img/salon.jpg");
}
main .first-section .two {
  background-image: url("../img/kuchnia.jpg");
  background-position-y: 400px;
}
main .first-section .card:hover .one {
  animation: up 1.2s;
}
main .first-section .card:hover .text-one {
  animation: down 1.2s;
}
main .first-section .card:hover .two {
  animation: up 1.2s forwards;
}
main .first-section .card:hover .text-two {
  animation: down 1.2s;
}
main .second-section {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  width: 100%;
  height: 300px;
}
main .second-section .third {
  width: 37.5%;
}
main .second-section .fourth {
  width: 57.5%;
}
main .second-section .three {
  background-image: url("../img/lazienka.jpg");
}
main .second-section .four {
  background-image: url("../img/sypialnia.jpg");
  background-position-y: 350px;
}
main .second-section .card:hover .three {
  animation: up 1.2s forwards;
}
main .second-section .card:hover .text-three {
  animation: down 1.2s;
}
main .second-section .card:hover .four {
  animation: up 1.2s forwards;
}
main .second-section .card:hover .text-four {
  animation: down 1.2s;
}
main .third-section {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  width: 100%;
  height: 300px;
}
main .third-section .fifth {
  width: 57.5%;
}
main .third-section .sixth {
  width: 37.5%;
}
main .third-section .five {
  background-image: url("../img/IMG_2641.jpg");
}
main .third-section .six {
  background-image: url("../img/IMG_4142.jpg");
  background-position-y: 400px;
}
main .third-section .card:hover .five {
  animation: up 1.2s forwards;
}
main .third-section .card:hover .text-five {
  animation: down 1.2s;
}
main .third-section .card:hover .six {
  animation: up 1.2s forwards;
}
main .third-section .card:hover .text-six {
  animation: down 1.2s;
}/*# sourceMappingURL=style.css.map */