@keyframes slide-text-above {
    from {
        top: 40px;
    }

    to {
        top: 0;
    }
}

@keyframes slide-text-under {
    from {
        bottom: 40px;
    }

    to {
        bottom: 0;
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-60%);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
        z-index: -1;
    }

    50% {
        transform: translateY(60%);
        z-index: -1;
    }

    100% {
        z-index: 1;
    }
}