$main-color: black;
$nav-color: #ba9a88;
$heading-color: #202020;
$section-color: #d2c8bc;
$background-color: #fff;
// linear-gradient(to top, #ba9a88 0%, #d2c8bc 100%)
// #5b828e
// #bbcfd6
// #d2c8bc
// #ba9a88
// #ac7e62