@use "./colors" as *;
@use "./animations" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $main-color;
    background-image: $background-color;
    background-size: cover;
    overflow-x: hidden;                 //Do zmiany jak burger ma być po lewej
}

.hide {
    display: none;
}

.active {
    transform: translateX(-350px);
}

.activeBtn {
    transform: translateX(-250px);
}

nav {
    width: 90vw;
    height: 100px;
    margin-top: 32px;
    border-radius: 16px;
    background-color: #fff;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        text-transform: uppercase;

        .nav-brand {
            margin-left: 40px;
            font-size: 26px;
            font-weight: bold;
            color: $main-color;
            cursor: default;

            .fa-solid {
                margin-right: 10px;
            }
        }

        .nav-items {
            margin-right: 40px;

            .nav-link {
                margin: 0 10px;
                text-decoration: none;
                color: $main-color;
                transition: color .3s;
            }

            .nav-link:hover {
                color: $nav-color;
            }
        }

        .burger {
            margin-right: 30px;
            font-size: 36px;
            padding: 10px 20px;
            background: none;
            border: none;
            cursor: pointer;
            transition: .3s;
        }

        .burger-items {
            position: absolute;
            top: 0;
            right: -350px;
            width: 350px;
            height: 100vh;
            padding: 10px 20px;
            font-size: 36px;
            list-style: none;
            background-color: #fff;
            transition: .3s;

            li {
                margin: 50px 20px;
                
                a {
                    text-decoration: none;
                    color: $main-color;
                    transition: color .3s;
                }

                a:hover {
                    color: $nav-color;
                }
            }
        }
    }
}

header {
    width: 90vw;
    margin-top: 32px;
    border-radius: 16px;
    overflow: hidden;

    .header-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/header-img.jpg');
        background-size: cover;
        z-index: 0;

        .header-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: -1;
        }

        .header-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            color: #fff;
            transition: color .5s;

            h1 {
                font-size: 124px;
            }
            
            .text-above {
                position: absolute;
                top: 320px;
                width: 400px;
                height: 30px;
                overflow: hidden;
            }

            .text-above::before {
                display: block;
                position: absolute;
                content: 'Witamy w';
                left: 50%;
                top: 40px;
                transform: translateX(-50%);
                animation: slide-text-above 1s 2s forwards;
            }

            .text-under {
                position: absolute;
                bottom: 320px;
                width: 800px;
                height: 30px;
                overflow: hidden;
            }

            .text-under::before {
                position: absolute;
                content: 'Apartament w Jastrzębiej Górze';
                left: 50%;
                bottom: 40px;
                transform: translateX(-50%);
                animation: slide-text-under 1s 2s forwards;
            }
        }
    }
}