@use "./colors" as *;
@use "./animations" as *;
@use "./media" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $main-color;
    background-color: $background-color;
    // background-image: $background-color;
    background-size: cover;
    overflow-x: hidden;                 //Do zmiany jak burger ma być po lewej
}

.hide {
    display: none;
}

.active {
    transform: translateX(-350px);
}

.active-btn {
    transform: translateX(-250px);
}

.round-section-right {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.round-section-left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
}

nav {
    width: 100vw;
    height: 10vh;
    // margin-top: 32px;
    // border-radius: 16px;
    background-color: $section-color;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        text-transform: uppercase;

        .nav-brand {
            margin-left: 40px;
            font-size: 26px;
            font-weight: bold;
            color: $main-color;
            cursor: default;

            .fa-solid {
                margin-right: 10px;
            }
        }

        .nav-items {
            margin-right: 40px;

            .nav-link {
                margin: 0 10px;
                text-decoration: none;
                color: $main-color;
                transition: color .3s;
            }

            .nav-link:hover {
                color: $nav-color;
            }
        }

        .burger {
            margin-right: 30px;
            font-size: 36px;
            padding: 10px 20px;
            background: none;
            border: none;
            cursor: pointer;
            transition: .3s;
        }

        .burger-items {
            position: absolute;
            top: 0;
            right: -350px;
            width: 350px;
            height: 100vh;
            padding: 10px 20px;
            font-size: 36px;
            list-style: none;
            background-color: #fff;
            transition: .3s;
            z-index: 1;

            li {
                margin: 50px 20px;
                
                a {
                    text-decoration: none;
                    color: $main-color;
                    transition: color .3s;
                }

                a:hover {
                    color: $nav-color;
                }
            }
        }
    }
}

header {
    width: 90vw;
    height: 82.2vh;
    margin-top: 64px;
    border-radius: 16px;
    overflow: hidden;

    .header-img {
        position: relative;
        height: 100%;
        background-image: url('../img/header-img.jpg');
        background-size: cover;
        z-index: 0;

        .header-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: -1;
        }

        .header-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            color: #fff;
            transition: color .5s;

            h1 {
                font-size: 124px;
            }
            
            .text-above {
                position: absolute;
                top: 220px;
                width: 400px;
                height: 45px;
                overflow: hidden;
            }

            .text-above::before {
                display: block;
                position: absolute;
                content: 'Witamy w';
                left: 50%;
                top: 45px;
                transform: translateX(-50%);
                animation: slide-text-above 1s 2s forwards;
                letter-spacing: 3px;
            }

            .text-under {
                position: absolute;
                bottom: 220px;
                width: 900px;
                height: 45px;
                overflow: hidden;
            }

            .text-under::before {
                position: absolute;
                content: 'Apartament w Jastrzębiej Górze';
                left: 50%;
                bottom: 45px;
                transform: translateX(-50%);
                animation: slide-text-under 1s 2s forwards;
                letter-spacing: 3px;
            }
        }
    }
}

.card {
    position: relative;
    height: 300px;
    perspective: 200px;

    .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .8s;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 40px;
        text-align: center;
        background-color: $section-color;
        color: $main-color;
        transition: .8s;
        opacity: 0;
    }
}

.card:hover .text {
    opacity: 1;
}

main {
    width: 100vw;

    .first-section {
        display: flex;
        justify-content: space-between;
        margin-top: 128px;
        width: 100%;
        height: 300px;

        .first {
            width: 57.5%;
        }

        .second {
            width: 37.5%;
        }

        .one {
            background-image: url('../img/salon.jpg');
        }

        .two {
            background-image: url('../img/kuchnia.jpg');
            background-position-y: 400px;
        }

        .card:hover .one {  
            animation: up 1.2s;
        }

        .card:hover .text-one {
            animation: down 1.2s;
        }

        .card:hover .two {
            animation: up 1.2s forwards;
        }

        .card:hover .text-two {
            animation: down 1.2s;
        }    
    }

    .second-section {
        display: flex;
        justify-content: space-between;
        margin-top: 128px;
        width: 100%;
        height: 300px;

        .third {
            width: 37.5%;
        }

        .fourth {
            width: 57.5%;
        }

        .three {
            background-image: url('../img/lazienka.jpg');
        }

        .four {
            background-image: url('../img/sypialnia.jpg');
            background-position-y: 350px;
        }

        .card:hover .three {  
            animation: up 1.2s forwards;
        }

        .card:hover .text-three {
            animation: down 1.2s;
        }

        .card:hover .four {
            animation: up 1.2s forwards;
        }

        .card:hover .text-four {
            animation: down 1.2s;
        }
    }

    .third-section {
        display: flex;
        justify-content: space-between;
        margin-top: 128px;
        width: 100%;
        height: 300px;

        .fifth {
            width: 57.5%;
        }

        .sixth {
            width: 37.5%;
        }

        .five {
            background-image: url('../img/IMG_2641.jpg');
        }

        .six {
            background-image: url('../img/IMG_4142.jpg');
            background-position-y: 400px;
        }

        .card:hover .five {  
            animation: up 1.2s forwards;
        }

        .card:hover .text-five {
            animation: down 1.2s;
        }

        .card:hover .six {
            animation: up 1.2s forwards;
        }

        .card:hover .text-six {
            animation: down 1.2s;
        }
    }
}